body{
	margin:0;
	padding:0;
	overflow-x: hidden;
}

a:link, a:visited{
	color:#F6E0C0;
}
a:hover, a:active{
	color:#F6E0C0;
}

#soporte-tecnico-especializado{
	color:white;
	text-align: center;
	margin-top: -0.5%;
	margin-bottom: 1%; 
}

#servicio-tecnico-esp{
	margin-top: 8%;
	margin-bottom: 4%;
	text-align: center;
	font-weight: bold;
}

.especializado-icons{
	margin-top: 20%;
	margin-bottom: 20%;
	width: 20%;
	height: auto;

}

.tarjetas{
	background-color: white;
	border-radius: 2em;
}

.reparaciones{
	background-color: white;

}

.reparacion-iconos{
	width: 25%;
	height: auto;
	margin-bottom: 8%;
}

.reparacion-texto{
	margin-bottom: 10%;
}

#servicios-de-reparacion{
	margin-top: 4%;
}

#escoje-tu-dispositivo{
	margin-top: -0.5%;
	font-weight: lighter;
	margin-bottom: 5%;
}

#servicio-tecnico-especializado{
	background-color: #F6E0C0;
}

h1{
	
	text-align: center;
	color:white;
}

#soporte-tecnico{
	padding-top:4%;
	padding-bottom: 4%;
	background-color: rgba(59,59,59,0.53);
}

#covid{
	background-color: #99151E;
	color:white;
	font-family: "serif","Helvica","Montreal";
	text-align: center;
	font-weight: bold;
	padding: 0.3% 0 0.3% 0;
}

#background_image{
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	object-fit: cover;
	position: fixed;
	top: -10%; /*Correr la imagen del fondo más arriba*/
}

.btn-warning, .btn-warning:visited {
    background-color: #EBB86B !important;
    border-color: #ebb76a !important;
}
.btn-warning:hover, .btn-warning:active{
	background-color: #A26D32 !important;
	border-color: #A26D32 !important;
	color:white;
}


nav{
	background-color: #F6E0C0;
	text-align: center;
}

#titulo{
	color:#996515;
	font-size: 115%;
	font-weight: bold;
}

.nav_1{
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.nav_2{
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.nav_3{
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.margin_nav{
	 margin-right: 3%;
}

